# Co-Variance and Correlation

In [1]:
import seaborn as sns

In [3]:
df=sns.load_dataset('healthexp')

In [8]:
df.head()

   Year        Country  Spending_USD  Life_Expectancy
0  1970        Germany       252.311             70.6
1  1970         France       192.143             72.2
2  1970  Great Britain       123.993             71.9
3  1970          Japan       150.437             72.0
4  1970            USA       326.961             70.9

In [10]:
# Covariance without importing the Numpy library
df.cov()

/tmp/ipykernel_84/3220400463.py:2: FutureWarning: The default value of numeric_only in DataFrame.cov is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.cov()

                         Year  Spending_USD  Life_Expectancy
Year               201.098848  2.571883e+04        41.915454
Spending_USD     25718.827373  4.817761e+06      4166.800912
Life_Expectancy     41.915454  4.166801e+03        10.733902

### Pearson Correlation Coefficient

In [11]:
df.corr(method='pearson')

/tmp/ipykernel_84/1903623532.py:2: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.corr(method='pearson')

                     Year  Spending_USD  Life_Expectancy
Year             1.000000      0.826273         0.902175
Spending_USD     0.826273      1.000000         0.579430
Life_Expectancy  0.902175      0.579430         1.000000

### Spearman Rank Correlation

In [12]:
df.corr(method='spearman')

/tmp/ipykernel_84/1222267885.py:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.corr(method='spearman')

                     Year  Spending_USD  Life_Expectancy
Year             1.000000      0.931598         0.896117
Spending_USD     0.931598      1.000000         0.747407
Life_Expectancy  0.896117      0.747407         1.000000

In [13]:
df1=sns.load_dataset('flights')

In [14]:
df1.cov()

/tmp/ipykernel_84/3142585312.py:1: FutureWarning: The default value of numeric_only in DataFrame.cov is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df1.cov()

                  year    passengers
year         12.000000    383.087413
passengers  383.087413  14391.917201

In [15]:
df1.corr(method='pearson')

/tmp/ipykernel_84/805735544.py:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df1.corr(method='pearson')

                year  passengers
year        1.000000    0.921824
passengers  0.921824    1.000000

In [16]:
df1.corr(method='spearman')

/tmp/ipykernel_84/3890602063.py:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df1.corr(method='spearman')

                year  passengers
year        1.000000    0.950549
passengers  0.950549    1.000000