# Nominal or One Hot Encoding(OHE)

In [1]:
import pandas as pd

In [2]:
# Sklearn is used for the OHE
from sklearn.preprocessing import OneHotEncoder

In [4]:
df=pd.DataFrame({
    'color':['red','blue','green','green','red','blue']
})

In [5]:
df

   color
0    red
1   blue
2  green
3  green
4    red
5   blue

In [8]:
# Create an instance of One Hot Encoder
encoder=OneHotEncoder()

In [11]:
encoder.fit_transform(df[['color']]) #we can also fit first then transform the Data
#will give the sparse matrix (having a alot of values as 0 and 1)

<6x3 sparse matrix of type '<class 'numpy.float64'>'
	with 6 stored elements in Compressed Sparse Row format>

In [12]:
encoder.fit_transform(df[['color']]).toarray() # Converting it into the array
#will take the colour inputs in the alphabatical order (blue-green-red)

array([[0., 0., 1.],
       [1., 0., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 0., 1.],
       [1., 0., 0.]])

In [14]:
# Fitting the encoding to teh dataframe an d transforming the data into the categorical variable 
encoded=encoder.fit_transform(df[['color']])

In [17]:
import pandas as pd
pd.DataFrame(encoded.toarray(),columns=encoder.get_feature_names_out()) # encoder.get_feature_names_out will give the feature name from the dataframe

   color_blue  color_green  color_red
0         0.0          0.0        1.0
1         1.0          0.0        0.0
2         0.0          1.0        0.0
3         0.0          1.0        0.0
4         0.0          0.0        1.0
5         1.0          0.0        0.0

In [18]:
# appending the original dataset with the encoded one 
encoded_df=pd.DataFrame(encoded.toarray(),columns=encoder.get_feature_names_out())

In [20]:
encoded_df

   color_blue  color_green  color_red
0         0.0          0.0        1.0
1         1.0          0.0        0.0
2         0.0          1.0        0.0
3         0.0          1.0        0.0
4         0.0          0.0        1.0
5         1.0          0.0        0.0

In [21]:
pd.concat([df,encoded_df],axis=1)

   color  color_blue  color_green  color_red
0    red         0.0          0.0        1.0
1   blue         1.0          0.0        0.0
2  green         0.0          1.0        0.0
3  green         0.0          1.0        0.0
4    red         0.0          0.0        1.0
5   blue         1.0          0.0        0.0